@media screen and (max-width:1920px){
	.profileContainer{
		margin-top: 250px;
		background-color: yellow;
	}
}

@media screen and (max-width:1000px){
	body{
		
	}
	.container{
		
	}
	.smallHeading2{
		display: block;
		color: #CE5652;
		font-size: 3em;
		clear: both;
		margin-bottom: -50px;
		line-height: 90%;
	}
	.heading2{
		display: none;
	}
	.profiles{
		width:98%;
		margin-left: 0px;
	}
	.profilePic{
		width:120px;
		height: 120px;
		margin-left: 25px;
	}
	.proImg{
		width:120px;
		height: 120px;
		float: left;
	}
	.name{
		width:120px;
		height: 120px;
		border-radius: 50%;
		background: #FFF;
		float: left;
		background: #424242;
		font-family: 'Roboto', sans-serif;
		font-size: 1.5em;
		color: #FFF;
		top: -19.2vh;
		display: none;
		z-index: +5;
		position: relative;
	}
	.nameTxt{
		margin-top: 30%;
	}
}