 @font-face {
    font-family: theFont;
    src: url(fonts/timeburnernormal.ttf);

}
@media screen and (max-width:1000px){
	body{
	background-color: #f0f0f0;
	}
	.smallheading3{
		display: block;
		
		font-size: 3em;
		color: #40af93;
	}
	.heading3{
		display: none;
	}
#one{
	margin-left: -40vw;
	margin-top: 11vw;
}
#two{
	margin-left: 7vw;
	margin-top: -41vw;
}
#three{
	margin-left: -40vw;
	margin-top: -0vw;
}
#four{
	margin-left: 7vw;
	margin-top: -41vw;
}
#five{
	margin-left: -40vw;
	margin-top: 0vw;
}
#six{
	margin-left: 6vw;
	margin-top: -41vw;
}
#sev{
	margin-left: -17vw;
	margin-top: 0vw;
}
.text-cont{
	display: none;
}
.quote{
display: none;
}
.profiles3{
	margin-left: 45vw;
	margin-top: -5vh;
}
.smallHeading3{
	margin-bottom: 10%;
	font-size:9vw;
}
.profilePic3{
	width:39vw;
	height: 39vw;
	border-radius: 50%;
	background: #FFF;
	float: left;
	margin-top: 20;
	margin:12px;
	background: #ededed;
}
.proImg3{
	border-radius: 50%;
	z-index: -5;
	width:100%;
	height: 100%;
}
.name3{
	width:100%;
	height: 100%;
	border-radius: 50%;
	background: #FFF;
	float: left;
	background: #424242;
	font-family: 'Roboto', sans-serif;
	font-size: 3vw;
	color: #FFF;
	margin-top:-75%;
	display: none;
	z-index: +5;
	position: relative;
}

}