body{
	margin: 0;
}
 @font-face {
    font-family: theFont;
    src: url(font.otf);
}
/*Cards*/
.card{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition:all 0.3s cubic-bezier(0.25,0.8,0.25,1);
}
.card:hover{
	box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}
.section1{
	width:100%;
	height:100vh;
	background: #f0f0f0;
}
.heading1{
	float: left;
	font-family: 'Monoton', cursive;
	color: #9797b7;
	background-color: #282741;
	font-size: 18vw;
	margin-right: 0%;
	float: right;
	line-height: 90%;
	height: 100%;
	margin: 0px;
	margin-top:-20px;
}
.ab{
	margin-top:140px;
}
.smallHeading1{
	font-family: 'Monoton', cursive;
	display: none;
}
.about{
	width:50%;
	height:68%;
	float:left;
	margin-left: 50px;
	margin-top: 18vh;
	font-family: 'Roboto', sans-serif;
}
.abtTxt{
	font-size: 22px;
}
.mdl-layout__drawer-button{
	margin-top:18px;
}
header.custom-header{
  background-color: #282741;
}
.mdl-layout__header{
  background-color: #282741;
}

@media screen and (max-width:1000px){
	.abtTxt{
		font-size: 5vw;
		padding-right: 3px;
		line-height: 110%;
	}
}