body{
	margin: 0;
}
 @font-face {
    font-family: theFont;
    src: url(font.otf);
}
/*Cards*/
.card{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition:all 0.3s cubic-bezier(0.25,0.8,0.25,1);
}
.card:hover{
	box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}
.section2{
	width:100%;
	height:100vh;
	background: #f0f0f0;
}
.heading2{
	float: left;
	font-family: 'Monoton', cursive;
	background:#bc382e;
	color: #CE5652;
	font-size: 15vw;
	margin-right: 0%;
	margin-top: -20px;
	float: right;
	line-height: 90%;
	height: 100%;
	padding-left:50px;
}
.smallHeading2{
	font-family: 'Monoton', cursive;
	display: none;
	line-height: 90%;
}.profiles{
	width:50%;
	height:68%;
	float:left;
	margin-left: 50px;
	margin-top: 12vh;
}
.profileContainer{
	width:190px;
	height:190px;
	float: left;
}
.profilePic{
	width:10vw;
	height: 10vw;
	border-radius: 50%;
	background: #FFF;
	float: left;
	margin:12px;
	background: #ededed;
}
.proImg{
	border-radius: 50%;
	z-index: -5;
	width:100%;
	height: 100%;
}
.name{
	width:100%;
	height: 100%;
	border-radius: 50%;
	background: #FFF;
	float: left;
	background: #424242;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5vw;
	color: #FFF;
	top:-10vw;
	bottom:0;
	display: none;
	z-index: +5;
	position: relative;
}
.nameTxt{
	margin-top: 43%;
}
.profilePic:hover .name {
	cursor: pointer;
    display:block;
    opacity: 0.8;
}
.profilePic:hover .nameTxt {
	cursor: pointer;
    display:block;
    
}

